<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title color="light">Asignación de Repartidor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="data && text">

  <div style="height: 200px;margin-top: -2%">
    <br />
    <p style="font-size: 30px;font-weight: 700;" align="center">{{ text.s_assign_button }}</p>
  </div>

  <ion-card mode="ios" style="padding: 10px 10px;margin-top: -12%">
    <form #form2="ngForm" (ngSubmit)="assign_ext(form2.value)">
      <ion-item class="staff_ext_sel"> 
        <ion-select placeholder="Asigna un Repartidor" ngModel name="type_staff" required interface="action-sheet" mode="ios">
          <ion-select-option>
            <span style="font-size: 12px;">Selecciona el tipo de repartidor que deseas</span>
          </ion-select-option>
          <ion-select-option value="0" color="light">
            Auto
          </ion-select-option>
          <ion-select-option value="1" color="light">
            Motocicleta
          </ion-select-option>
          <ion-select-option value="2" color="light">
            Bicicleta
          </ion-select-option>
          <hr>
        </ion-select>
      </ion-item>
      <br><br>
      <ion-button expand="block" mode="ios" type="submit" [disabled]="!form2.valid" style="color: #fff;">Solicitar un repartidor</ion-button>
    </form>
  </ion-card>

</ion-content>