/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

// import Swiper and modules styles
@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

/* asegurar altura completa */
html, body, app-root, ion-app, .ion-page {
  height: 100%;
}

ion-app {
    --swiper-pagination-left: auto;
    --swiper-pagination-right: 8px;
    --swiper-pagination-bottom: 8px;

    --swiper-pagination-bullet-size: 4px;
    --swiper-pagination-bullet-width: 16px;
    --swiper-pagination-bullet-height: 4px;
    --swiper-pagination-bullet-border-radius: 0px;
    --swiper-pagination-bullet-inactive-color: #777777;
    // margin: 40px 0 40px 0;
    // --ion-safe-area-top: env(safe-area-inset-top);
    // --ion-safe-area-bottom: env(safe-area-inset-bottom);
}

// :root {
//   --ion-safe-area-top: env(safe-area-inset-top, 0px);
//   --ion-safe-area-bottom: env(safe-area-inset-bottom, 0px);
// }

// /* si usas ion-header translucent -> ajusta toolbar */
// ion-header {
//   /* altura base del toolbar 56px (ajusta si usas otra) */
//   height: calc(56px + var(--ion-safe-area-top));
//   padding-top: var(--ion-safe-area-top);
// }

// /* evitar que el contenido quede pegado abajo */
// ion-content {
//   /* deja un padding inferior base + el safe-area */
//   padding-bottom: calc(var(--ion-safe-area-bottom) + 12px);
//   /* si usas header translucent, content en fullscreen suele necesitar top=0 */
//   --padding-top: 0px;
// }

/* si tienes footer fijo (botones verdes en tu captura) */
.app-footer-actions {
  box-sizing: border-box;
  padding: calc(12px + var(--ion-safe-area-bottom)) 16px 16px;
}

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import '@ionic/angular/css/palettes/dark.system.css';

.my-custom-info-modal-css {
    .modal-wrapper {
        width: 60%;
        height: 80%;
        margin: auto;
        top: 20%;
        position: absolute;
        display: block;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
}

.wrap-content {
    position: relative;
    width: 60%;
    margin: auto;
}

.action-sheet-button.sc-ion-action-sheet-ios {
    font-size: 16px !important;
}

.action-sheet-button.sc-ion-action-sheet-ios {
    color: #fff !important;
}

@media screen and (max-width:960px) {
    .wrap-content {
        width: 75%;
    }

    .my-custom-info-modal-css {
        .modal-wrapper {
            width: 75%;
        }
    }
}

@media screen and (max-width:768px) {

    .wrap-content {
        width: 100%;
    }

    .my-custom-info-modal-css {
        .modal-wrapper {
            width: 100%;
        }
    }
}