<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-menu-button mode="ios"></ion-menu-button>
        </ion-buttons>

        <ion-title class="ion-text-capitalize">
            <img src="assets/top_pic.png" alt="AhiTeVot" style="width: 100px;">
        </ion-title>
        <ion-buttons slot="end">
            <ion-button routerLink="/profile">
                <ion-icon name="settings-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding home-page">

    <!-- Bienvenida -->
    <div class="greeting-box">
        <h2 *ngIf="store">👋 ¡Hola, {{store.name}}!</h2>
        <p>Revisa tus pedidos en tiempo real y mantén tu cocina activa 🚀</p>
    </div>
    <!-- Ultimos pedidos ativos -->
    <section>
        <p style="display: flex;justify-content: space-between;">
            Listado de pedidos

            <a routerLink="/all-orders">Ver todos</a>
        </p>
        <br />
        <ion-segment value="news">
            <ion-segment-button value="news" content-id="news">
                <ion-label>
                    Nuevos 🚀
                    <ion-badge color="success" *ngIf="order_news.length > 0">{{ order_news.length }}</ion-badge>
                </ion-label>
            </ion-segment-button>
            <ion-segment-button value="inrute" content-id="inrute">
                <ion-label>
                    En Ruta
                    <ion-badge color="warning">{{ order_inrute.length }}</ion-badge>
                </ion-label>
            </ion-segment-button>
        </ion-segment>

        <ion-segment-view>
            <ion-segment-content id="news">
                <!-- Slider main container -->
                <div class="swiper" #swiperContainerNews>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>

                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide" *ngFor="let order of order_news">
                            <div class="slide-container">
                                <ion-card>
                                    <ion-card-content>
                                        <ion-row class="wrap_orders">
                                            <ion-col size="12" class="order_id_info">
                                                <span>Order ID #{{order.id}}</span>

                                                <ion-badge color="success" *ngIf="order.status == 0">Nuevo</ion-badge>
                                                <ion-badge color="warning"
                                                    *ngIf="order.status == 1 || order.status == 1.5">En
                                                    Curso</ion-badge>
                                                <ion-badge color="primary"
                                                    *ngIf="order.status == 3 || order.status == 4">En
                                                    Ruta</ion-badge>
                                            </ion-col>

                                            <ion-col size="12" class="order_name_info">
                                                <span><ion-icon name="person-outline"></ion-icon> {{ order.name
                                                    }}</span>
                                                <span><ion-icon name="pin-outline"></ion-icon> {{ order.address
                                                    }}</span>
                                            </ion-col>
                                            <ion-col size="12" class="order_btns_info">
                                                <ion-button expand="block" (click)="detail(order)">Ver
                                                    Detalles</ion-button>
                                            </ion-col>
                                        </ion-row>
                                    </ion-card-content>
                                </ion-card>
                            </div>
                        </div>

                        <div class="swiper-slide" *ngIf="!order_news || order_news.length == 0">
                            <div class="slide-container" style="text-align: center;">
                                <img src="../../assets/list_empty.svg" alt="sin pedidos"
                                    style="width: 150px;margin:10px auto">
                            </div>
                        </div>

                    </div>
                </div>
            </ion-segment-content>
            <ion-segment-content id="inrute">
                <!-- Slider main container -->
                <div class="swiper" #swiperContainerInRoute>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>

                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide" *ngFor="let order of order_inrute">
                            <div class="slide-container">
                                <ion-card>
                                    <ion-card-content>
                                        <ion-row class="wrap_orders">
                                            <ion-col size="12" class="order_id_info">
                                                <span>Order ID #{{order.id}}</span>

                                                <ion-badge color="success" *ngIf="order.status == 0">Nuevo</ion-badge>
                                                <ion-badge color="warning"
                                                    *ngIf="order.status == 1 || order.status == 1.5">En
                                                    Curso</ion-badge>
                                                <ion-badge color="primary"
                                                    *ngIf="order.status == 3 || order.status == 4">En
                                                    Ruta</ion-badge>
                                            </ion-col>

                                            <ion-col size="12" class="order_name_info">
                                                <span><ion-icon name="person-outline"></ion-icon> {{ order.name
                                                    }}</span>
                                                <span><ion-icon name="pin-outline"></ion-icon> {{ order.address
                                                    }}</span>
                                            </ion-col>
                                            <ion-col size="12" class="order_btns_info">
                                                <ion-button expand="block" (click)="detail(order)">Ver
                                                    Detalles</ion-button>
                                            </ion-col>
                                        </ion-row>
                                    </ion-card-content>
                                </ion-card>
                            </div>
                        </div>

                        <div class="swiper-slide" *ngIf="!order_inrute || order_inrute.length == 0">
                            <div class="slide-container" style="text-align: center;">
                                <img src="../../assets/list_empty.svg" alt="sin pedidos"
                                    style="width: 150px;margin:10px auto">
                            </div>
                        </div>
                    </div>
                </div>
            </ion-segment-content>
        </ion-segment-view>

    </section>


    <!-- Saludo y resumen -->
    <section *ngIf="overview">
        <p>Ganancias</p>

        <div class="card earnings-card">
            <div class="card-header">
                <ion-icon name="wallet-outline"></ion-icon>
                <div class="balance">
                    <span class="label">Balance General</span>
                    <h2>{{ overview.saldos_m.Ventas | currency }}</h2>
                </div>
            </div>
            <div class="card-footer">
                <div>
                    <p>Hoy</p>
                    <strong>{{overview.x_day.amount | currency}}</strong>
                </div>
                <div>
                    <p>Esta semana</p>
                    <strong>{{overview.week_data.amount | currency}}</strong>
                </div>
                <div>
                    <p>Este Mes</p>
                    <strong>{{overview.month_data.amount | currency}}</strong>
                </div>
            </div>
        </div>
    </section>

    <section *ngIf="overview">
        <p>Pedidos</p>

        <div class="order-cards">
            <ion-row>
                <ion-col size="6">
                    <div class="card order-card today">
                        <h1>{{overview.x_day.order }}</h1>
                        <p>Pedidos <br>Hoy</p>
                    </div>
                </ion-col>
                <ion-col size="6">
                    <div class="card order-card week">
                        <h1>{{overview.week_data.total }}</h1>
                        <p>Pedidos <br>Esta semana</p>
                    </div>
                </ion-col>

                <ion-col size="12">
                    <div class="card order-card total">
                        <h1>{{overview.total }}</h1>
                        <p>Pedidos <br>Totales</p>
                    </div>
                </ion-col>
            </ion-row>
        </div>
    </section>

    <!-- Pedido Activo -->
    <ion-fab vertical="bottom" style="bottom: 90px;right: 25px;" horizontal="end" slot="fixed" class="animate__animated animate__bounceInUp" routerLink="/done-comm" *ngIf="serviceComm.length > 0">
        <ion-fab-button color="light">
        <img src="assets/icon2.png" alt="">
        </ion-fab-button>
    </ion-fab>
    <!-- Pedido Activo -->
</ion-content>